/* modified reset from bootstrap  https://github.com/twitter/bootstrap/blob/master/lib/reset.less */
html, body { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; font-weight: normal; font-style: normal; font-size: 100%; line-height: 1; font-family: inherit; }
table { border-collapse: collapse; border-spacing: 0; }
ol, ul { list-style: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; }

body {
	font-family: 'Lucida Sans', sans-serif;
	font-size: 14px;
}

@SCblue: #edf3fe;
@SCdarkblue: #3875d7;
@SCorange: #ff5125;

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

#container {
	display: block;
}

.screen {
	display: block;
	float: left;
	width: 100%;
	background: #eee;
}
.screen:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.slide-left {
	-webkit-transform: translate3d(-320px,0,0);
	-webkit-transition: all .5s ease-out;
}

.track{background: #fff; padding: 12px 10px; color: #000; position: relative;}
.track:nth-child(even){
	background: @SCblue;
}
.track-title{
	font-size: 14px;
	padding-bottom: 5px;
}
.track-username{
	font-size: 13px;
	color: #666;
}
.selected, .selected .track-title, .selected .track-username{
	background: @SCdarkblue !important;
	color: #fff;
}

.paused{
	background: #000;
	color: #fff;
	display: block;
	width: 10px;
	height: 10px;
	padding: 2px;
	font-size: 9px;
	float: left;
	text-align: center;
	margin-right: 5px;
}
.playing{
	background: #f00;
}
.scrubber{
	height: 50px;
	display: block;
	background: #565656;
	position: relative;
}
.scrubber-knob{
	height:50px;
	width: 100%;
	display: block;
	position: absolute;
	top:0;
	opacity: 0.5;
	-webkit-transition-timing-function: linear;
}
.scrubber-control{
	width: 100%;
	height: 50px;
	border-right: 2px solid @SCorange;
	display: block;
	position: relative;
	top: 0;
	left: -100%;
	background: #ff2a00;
}

/* Controls */
#controls{
	
}
.control {
	background: #eee;
	color: #000;
	display: block;
	float: left;
	width: 25%;
	height: 50px;
	font-size: 24px;
}




