<div id="previous" class="control">
	<a href="#" >Previous</a>
</div>
<div class="control">
	<div id="play">
		<a href="#">Play</a>
	</div>
	<div id="pause">
		<a href="#">Pause</a>
	</div>
</div>
<div class="control">
	<a href="#" id="next">Next</a>
</div>
<div class="control">
	<a href="#" id="more">More</a>
</div>


