<div class="track-time">
	<h3>
		<span class="track-current">00:00</span>
		&nbsp;/&nbsp;<span class="track-duration">00:00</span>
	</h3>
</div>
<div class="track-playback">
	<div id="previous" class="control">prev</div>
	<div id="play" class="control">play</div>
	<div id="next" class="control">next</div>
</div>



