<div>
	<%
	var stream = this.model.attributes.stream || {};
	var playState = stream.playState;
	if(stream.paused){ %>
		<span class="paused">||</span>
	<% } else if(playState == 1) { %>
		<span class="playing">></span>
	<% } else { %>
		<span class=""></span>
	<% } %>
	<h3 class="track-title"><%= title %></h3>
	<h4 class="track-username"><%= user.username %></h4>
</div>