<div class="meta-title">
	<p><%= title %></p>
</div>
<div class="meta-creator">
	<p>
		<span><%= user.username %></span>
	</p>
</div>
<div class="meta-image">
	<img width="200" height="200" src="<%= artwork_url %>" />
</div>
<div class="meta-comments">
	<h3>Comments: <%= comment_count %></h3>
</div>

