<div>
	<%
	var stream = this.model.attributes.stream || {};
	var playState = stream.playState;
	if(stream.paused){ %>
		<span class="paused">||</span>
	<% } else if(playState == 1) { %>
		<span class="playing">></span>
	<% } else { %>
		<span class=""></span>
	<% } %>
	<span class="track-title"><%= title %></span><span class="track-username">... by <%= user.username %></span></p>
</div>